[class*="col-"] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
  display: inline-block;
}

@media #{$breakpoint-extra-small} {
  @for $i from 1 through $grid-columns {
    .col-xs-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }

  #side-menu {
    display: none;
  }

  header {
    margin-left: 0;

    .search-area {
      width: 100%;
    }

    .user-area {
      display: block;
      float: left;
    }
  }

  #content-area {
    margin-left: 0;
  }

  .hired {
    padding-bottom: 10px;
  }

  .interviewed {
    text-align: left;
    padding-bottom: 10px;
  }

  .rejected {
    text-align: left;
  }

  .hired-circle {
    vertical-align: middle;
  }

  .hire-status-text {
    vertical-align: middle;
  }

  br {
    display: none;
  }

  .large-table {
    display: none;
  }

  .mobile-table {
    display: table;
  }
}

@media #{$breakpoint-small} {
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }

  header {
    .search-area {
      width: 50%;
    }

    .user-area {
      display: inline-block;
      float: right;
    }
  }

  .hired {
    padding: 0;
  }

  .interviewed {
    text-align: center;
    padding: 0;
  }

  .rejected {
    text-align: right;
    padding: 0;
  }

  .hired-circle {
    vertical-align: unset;
  }

  .hire-status-text {
    vertical-align: unset;
  }

  br {
    display: inline;
  }
}

@media #{$breakpoint-medium} {
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }

  header {
    margin-left: 280px;
  }

  #content-area {
    margin-left: 280px;
  }

  #mobile-top-menu {
    display: none;
  }

  #mobile-side-menu {
    display: none;
  }

  #side-menu {
    display: block;
  }

  .card {
    height: 340px;
  }

  .large-table {
    display: table;
  }

  .mobile-table {
    display: none;
  }
}

@media #{$breakpoint-large} {
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }

  .card {
    height: 370px;
  }
}
